<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Registration</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Registration</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'reg-page' }) do |f| %>
              <%= devise_error_messages! %>
                <div class="reg-header">
                    <h2>Register a new account</h2>
                    <p>Already Signed Up? <%= link_to 'Click here', new_user_session_path %> to login to your account.</p>
                </div>

                <label>First Name</label>
                <%= f.text_field :first_name, class: 'form-control margin-bottom-20' %>

                <label>Last Name</label>
                <%= f.text_field :last_name, class: 'form-control margin-bottom-20' %>

                <label>Email Address <span class="color-red">*</span></label>
                <%= f.email_field :email, class: 'form-control margin-bottom-20' %>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Password <span class="color-red">*</span></label>
                        <%= f.password_field :password, autocomplete: "off", class: 'form-control margin-bottom-20' %>
                    </div>
                    <div class="col-sm-6">
                        <label>Confirm Password <span class="color-red">*</span></label>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control margin-bottom-20' %>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-6">
                        <label class="checkbox">
                            <input type="checkbox">
                            I have read and accept <a href="page_terms.html" class="color-green">Terms and Conditions</a>
                        </label>
                    </div>
                    <div class="col-lg-6 text-right">
                        <%= f.submit "Sign up", class: 'btn-u' %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->