<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Mega Pricing Page</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Pricing</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">

    <div class="heading heading-v1 margin-bottom-20">
        <h2>Pricing Table Mega</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
    </div>

    <!-- Pricing Mega v1 -->
    <div class="row no-space-pricing pricing-mega-v1">
        <div class="col-md-3 col-sm-6 hidden-sm hidden-xs">
            <div class="pricing hidden-area">
                <div class="pricing-head ">
                    <h4 class="price">Pay Monthly</h4>
                </div>
                <ul  class="pricing-content list-unstyled">
                    <li class="bg-color">
                        <i class="fa fa-users"></i>Advance Payment
                    </li>
                    <li>
                        <i class="fa fa-cloud-upload"></i>Diskspace
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-briefcase"></i>Subdomains
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>Email Addresses
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-inbox"></i> MySQL Databases
                    </li>
                    <li>
                        <i class="fa fa-gift"></i>Google AdWords Credits
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-leaf"></i>Remote Desktop Widge
                    </li>
                    <li>
                        <i class="fa fa-location-arrow"></i>Message from Users List
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-globe"></i>Google Adwords Voucher
                    </li>
                    <li>
                        <i class="fa fa-dashboard"></i>Scheduled Lock Screen
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-wrench"></i>Customisable Toolbar
                    </li>
                    <li>
                        <i class="fa fa-cogs"></i>Ports Controls
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-gavel"></i>Premium DNS
                    </li>
                    <li>
                        <i class="fa fa-umbrella"></i>SSL Certificate
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-phone"></i>Worldwide Phone Support
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        Receptionist service <span>Officia deserunt mollitia</span>
                    </h3>
                    <h4 class="price">
                        <i>$</i><%= get_integer_part @receptionist_service_plan.price %><i>.95</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Credit Card Requirement</span>
                    </li>
                    <li>
                        15 GB<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li class="bg-color">
                        50<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        $100<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                    <li>
                        <i class="fa fa-check">
                        </i><span class="hidden-md hidden-lg">Message from Users List</span>
                    </li>
                    <li class="bg-color">
                        $75<span class="hidden-md hidden-lg">Google Adwords Voucher</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times">
                        </i><span class="hidden-md hidden-lg">Premium DNS</span>
                    </li>
                    <li>
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">SSL Certificate</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                <div class="btn-group btn-group-justified">
                    <%= link_to checkout_start_path(subscription_plan: @receptionist_service_plan), class: 'btn-u btn-block dropdown-toggle text-center' do %>
                        <i class="fa fa-shopping-cart"></i>
                        Sign Up
                        <i class="fa fa-angle-down"></i>
                    <% end %>
                </div>
            </div>
        </div>
         <div class="col-md-3 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        Customer service <span>Officia deserunt mollitia</span>
                    </h3>
                    <h4 class="price">
                        <i>$</i><%= get_integer_part @customer_service_plan.price %><i>.95</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Credit Card Requirement</span>
                    </li>
                    <li>
                        50 GB<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li class="bg-color">
                        150<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        $200<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Message from Users List</span>
                    </li>
                    <li class="bg-color">
                        $250<span class="hidden-md hidden-lg">Google Adwords Voucher</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">Premium DNS</span>
                    </li>
                    <li>
                        <i class="fa fa-times"></i>
                        <span class="hidden-md hidden-lg">SSL Certificate</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                <div class="btn-group btn-group-justified">
                    <%= link_to checkout_start_path(subscription_plan: @customer_service_plan), class: 'btn-u btn-block dropdown-toggle text-center' do %>
                        <i class="fa fa-shopping-cart"></i>
                        Sign Up
                        <i class="fa fa-angle-down"></i>
                    <% end %>
                </div>
            </div>
        </div>
         <div class="col-md-3 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>
                        Enterprise <span>Officia deserunt mollitia</span>
                    </h3>
                    <h4 class="price">
                        <i>$</i><%= get_integer_part @enterprise_plan.price %><i>.95</i>
                        <span class="hidden-md hidden-lg">Per Month</span>
                    </h4>
                </div>
                <ul class="pricing-content list-unstyled ">
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Credit Card Requirement</span>
                    </li>
                    <li>
                        Unlimited<span class="hidden-md hidden-lg">Diskspace</span>
                    </li>
                    <li class="bg-color">
                        2000<span class="hidden-md hidden-lg">Subdomains</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Email Addresses</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg"> MySQL Databases</span>
                    </li>
                    <li>
                        $500<span class="hidden-md hidden-lg">Google AdWords Credits</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Remote Desktop Widge</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Message from Users List</span>
                    </li>
                    <li class="bg-color">
                        $750<span class="hidden-md hidden-lg">Google Adwords Voucher</span>
                    </li>
                    <li>
                        <i class="fa fa-check">
                        </i><span class="hidden-md hidden-lg">Scheduled Lock Screen</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Customisable Toolbar</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Ports Controls</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Premium DNS</span>
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">SSL Certificate</span>
                    </li>
                    <li class="bg-color">
                        <i class="fa fa-check"></i>
                        <span class="hidden-md hidden-lg">Worldwide Phone Support</span>
                    </li>
                </ul>
                <div class="btn-group btn-group-justified">
                    <%= link_to checkout_start_path(subscription_plan: @enterprise_plan), class: 'btn-u btn-block dropdown-toggle text-center' do %>
                        <i class="fa fa-shopping-cart"></i>
                        Sign Up
                        <i class="fa fa-angle-down"></i>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Mega v1 -->

    <div class="margin-bottom-40"></div>

</div><!--/container-->
<!--=== End Content Part ===-->