<!--=== Header ===-->
<div class="header">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <!-- Topbar Navigation -->
            <ul class="loginbar pull-right">
                <% if current_user %>
                    <li><%= link_to 'My Account', root_path %></li>
                    <li class="topbar-devider"></li>
                    <li><%= link_to 'Logout', logout_path %></li>
                <% else %>
                    <li><%= link_to 'Login', new_user_session_path %></li>
                    <li class="topbar-devider"></li>
                    <li><%= link_to 'Sign up', pricing_page_path %></li>
                <% end %>
            </ul>
            <!-- End Topbar Navigation -->
        </div>
    </div>
    <!-- End Topbar -->

    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <%= image_tag 'img/logo1-default.png', id: 'logo-header', alt: 'Logo' %>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <%= render 'nav' %>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header ===-->