<ul class="nav navbar-nav">
    <%= content_tag :li, class: ('active' if current_page?(root_path)) do %>
      <%= link_to 'Home', root_path %>
    <% end %>

    <%= content_tag :li, class: ('active' if current_page?(how_it_works_page_path)) do %>
      <%= link_to 'How it works', how_it_works_page_path %>
    <% end %>

    <%= content_tag :li, class: ('active' if current_page?(pricing_page_path)) do %>
      <%= link_to 'Pricing', pricing_page_path %>
    <% end %>

    <%= content_tag :li, class: ('active' if current_page?(about_page_path)) do %>
      <%= link_to 'About', about_page_path %>
    <% end %>

    <%= content_tag :li, class: ('active' if current_page?(blog_entries_path)) do %>
      <%= link_to 'Blog', blog_entries_path %>
    <% end %>

    <!-- Search Block -->
    <li>
        <i class="search fa fa-search search-btn"></i>
        <div class="search-open">
            <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn-u" type="button">Go</button>
                </span>
            </div>
        </div>
    </li>
    <!-- End Search Block -->
</ul>